# Flutter/Dart
.dart_tool/
.buildlog/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android / iOS / Windows generated
android/.gradle/
android/app/debug/
ios/Pods/
ios/.symlinks/
windows/flutter/

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log